[submodule "standalone-site/site/themes/hugo-whisper-theme"]
	path = standalone-site/site/themes/hugo-whisper-theme
	url = https://github.com/zerostaticthemes/hugo-whisper-theme.git
[submodule "spring-boot/src/main/hugo/themes/hugo-whisper-theme"]
	path = spring-boot/src/main/hugo/themes/hugo-whisper-theme
	url = https://github.com/zerostaticthemes/hugo-whisper-theme.git
